.background-blue {
    background: #17a2b8;
}

.color-white {
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.icon-required {
    color: red;
}

.margin-right-5 {
    margin-right: 5px;
}
